In [1]:
import pandas as pd
import talib
import pynance as pn
import yfinance as yf
import pandas_ta as ta
from IPython.display import display
import os
import sys

In [2]:
sys.path.append('../scripts')
from Correlation import align_dates, perform_sentiment_analysis, aggregate_sentiments, calculate_correlation

In [3]:
stock_files = {
    'AAPL': '../data/yfinance_data/AAPL_historical_data.csv',
    'AMZN': '../data/yfinance_data/AMZN_historical_data.csv',
    'GOOG': '../data/yfinance_data/GOOG_historical_data.csv',
    'META': '../data/yfinance_data/META_historical_data.csv',
    'MSFT': '../data/yfinance_data/MSFT_historical_data.csv',
    'NVDA': '../data/yfinance_data/NVDA_historical_data.csv',
    'TSLA': '../data/yfinance_data/TSLA_historical_data.csv'
}

# Load stock data and calculate Daily_Return if missing
stock_dfs = {}

In [4]:
for ticker, filepath in stock_files.items():
    if not os.path.exists(filepath):
        print(f"Warning: File not found at {filepath}. Please update the path for {ticker}.")
        new_path = input(f"Enter the correct path for {ticker} data: ")
        if os.path.exists(new_path):
            stock_files[ticker] = new_path
        else:
            print(f"Error: {new_path} also not found. Skipping {ticker}.")
            continue
    print(f"Loading stock data for {ticker}...")
    df = pd.read_csv(filepath, parse_dates=['Date'], index_col='Date')
    # Ensure the index is UTC-aware
    df.index = pd.to_datetime(df.index, utc=True)
    print(f"Columns in {ticker} data: {df.columns.tolist()}")
    if 'Daily_Return' not in df.columns:
        if 'Close' in df.columns:
            print(f"Calculating Daily_Return for {ticker}...")
            df['Daily_Return'] = df['Close'].pct_change()
        else:
            print(f"Error: 'Close' column missing in {ticker} data. Skipping {ticker}.")
            continue
    stock_dfs[ticker] = df
    display(df[['Close', 'Daily_Return']].head())

Loading stock data for AAPL...
Columns in AAPL data: ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Dividends', 'Stock Splits']
Calculating Daily_Return for AAPL...

                              Close  Daily_Return
Date
1980-12-12 00:00:00+00:00  0.128348           NaN
1980-12-15 00:00:00+00:00  0.121652     -0.052171
1980-12-16 00:00:00+00:00  0.112723     -0.073398
1980-12-17 00:00:00+00:00  0.115513      0.024751
1980-12-18 00:00:00+00:00  0.118862      0.028992

Loading stock data for AMZN...
Columns in AMZN data: ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Dividends', 'Stock Splits']
Calculating Daily_Return for AMZN...

                              Close  Daily_Return
Date
1997-05-15 00:00:00+00:00  0.097917           NaN
1997-05-16 00:00:00+00:00  0.086458     -0.117028
1997-05-19 00:00:00+00:00  0.085417     -0.012040
1997-05-20 00:00:00+00:00  0.081771     -0.042685
1997-05-21 00:00:00+00:00  0.071354     -0.127392

Loading stock data for GOOG...
Columns in GOOG data: ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Dividends', 'Stock Splits']
Calculating Daily_Return for GOOG...

                              Close  Daily_Return
Date
2004-08-19 00:00:00+00:00  2.499133           NaN
2004-08-20 00:00:00+00:00  2.697639      0.079430
2004-08-23 00:00:00+00:00  2.724787      0.010064
2004-08-24 00:00:00+00:00  2.611960     -0.041408
2004-08-25 00:00:00+00:00  2.640104      0.010775

Loading stock data for META...
Columns in META data: ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Dividends', 'Stock Splits']
Calculating Daily_Return for META...

                               Close  Daily_Return
Date
2012-12-12 00:00:00+00:00  27.580000           NaN
2012-12-13 00:00:00+00:00  28.240000      0.023930
2012-12-14 00:00:00+00:00  26.809999     -0.050637
2012-12-17 00:00:00+00:00  26.750000     -0.002238
2012-12-18 00:00:00+00:00  27.709999      0.035888

Loading stock data for MSFT...
Columns in MSFT data: ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Dividends', 'Stock Splits']
Calculating Daily_Return for MSFT...

                              Close  Daily_Return
Date
1986-03-13 00:00:00+00:00  0.097222           NaN
1986-03-14 00:00:00+00:00  0.100694      0.035712
1986-03-17 00:00:00+00:00  0.102431      0.017250
1986-03-18 00:00:00+00:00  0.099826     -0.025432
1986-03-19 00:00:00+00:00  0.098090     -0.017390

Loading stock data for NVDA...
Columns in NVDA data: ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Dividends', 'Stock Splits']
Calculating Daily_Return for NVDA...

                              Close  Daily_Return
Date
1999-01-22 00:00:00+00:00  0.041016           NaN
1999-01-25 00:00:00+00:00  0.045313      0.104764
1999-01-26 00:00:00+00:00  0.041797     -0.077594
1999-01-27 00:00:00+00:00  0.041667     -0.003110
1999-01-28 00:00:00+00:00  0.041536     -0.003144

Loading stock data for TSLA...
Columns in TSLA data: ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Dividends', 'Stock Splits']
Calculating Daily_Return for TSLA...

                              Close  Daily_Return
Date
2010-06-29 00:00:00+00:00  1.592667           NaN
2010-06-30 00:00:00+00:00  1.588667     -0.002511
2010-07-01 00:00:00+00:00  1.464000     -0.078473
2010-07-02 00:00:00+00:00  1.280000     -0.125683
2010-07-06 00:00:00+00:00  1.074000     -0.160937

In [5]:
# Load news data (from raw_analyst_ratings.csv)
news_path = '../data/raw_analyst_ratings.csv'
if not os.path.exists(news_path):
    print(f"Warning: News file not found at {news_path}. Please update the path.")
    news_path = input("Enter the correct path for news data: ")
    if not os.path.exists(news_path):
        print(f"Error: {news_path} not found. Please ensure the news data is available.")
        raise FileNotFoundError("News data file not found. Analysis cannot proceed.")
print("\nLoading news data...")
news_df = pd.read_csv(news_path)
print(f"Columns in news data: {news_df.columns.tolist()}")
# Standardize column names and normalize dates
news_df = news_df.rename(columns={'date': 'Date', 'stock': 'Ticker', 'headline': 'Headline'})
# Normalize dates during loading (ensure UTC-aware)
news_df['Date'] = pd.to_datetime(news_df['Date'], errors='coerce', utc=True).dt.normalize()
# Map single-letter stock codes to full tickers (adjust based on your data)
ticker_map = {'A': 'AAPL', 'Z': 'AMZN', 'G': 'GOOG', 'M': 'META', 'S': 'MSFT', 'N': 'NVDA', 'T': 'TSLA'}
news_df['Ticker'] = news_df['Ticker'].map(ticker_map).fillna(news_df['Ticker'])
# Ensure required columns are present
required_news_columns = ['Date', 'Headline', 'Ticker']
if not all(col in news_df.columns for col in required_news_columns):
    print(f"Error: News data missing required columns. Found: {news_df.columns.tolist()}, Required: {required_news_columns}")
    raise KeyError("News data does not contain required columns.")
# Drop rows with invalid dates
news_df = news_df.dropna(subset=['Date'])
display(news_df[required_news_columns].head())

Loading news data...
Columns in news data: ['Unnamed: 0', 'headline', 'url', 'publisher', 'date', 'stock']

,Date,Headline,Ticker
0,2020-06-05 00:00:00+00:00,Stocks That Hit 52-Week Highs On Friday,AAPL
1,2020-06-03 00:00:00+00:00,Stocks That Hit 52-Week Highs On Wednesday,AAPL
2,2020-05-26 00:00:00+00:00,71 Biggest Movers From Friday,AAPL
3,2020-05-22 00:00:00+00:00,46 Stocks Moving In Friday's Mid-Day Session,AAPL
4,2020-05-22 00:00:00+00:00,B of A Securities Maintains Neutral on Agilent...,AAPL

In [6]:
print("\nNews Data Overview Before Alignment:")
print(news_df.info())
print(news_df['Date'].min(), "to", news_df['Date'].max())
print(news_df.head())

News Data Overview Before Alignment:
<class 'pandas.core.frame.DataFrame'>
Index: 55987 entries, 0 to 1407270
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  55987 non-null  int64
 1   Headline    55987 non-null  object
 2   url         55987 non-null  object
 3   publisher   55987 non-null  object
 4   Date        55987 non-null  datetime64[ns, UTC]
 5   Ticker      55987 non-null  object
dtypes: datetime64[ns, UTC](1), int64(1), object(4)
memory usage: 3.0+ MB
None
2011-04-28 00:00:00+00:00 to 2020-06-11 00:00:00+00:00
   Unnamed: 0                                           Headline  \
0           0            Stocks That Hit 52-Week Highs On Friday
1           1         Stocks That Hit 52-Week Highs On Wednesday
2           2                      71 Biggest Movers From Friday
3           3       46 Stocks Moving In Friday's Mid-Day Session
4           4  B of A Securities Maintains Neutral on Agilent...

                                                 url          publisher  \
0  https://www.benzinga.com/news/20/06/16190091/s...  Benzinga Insights
1  https://www.benzinga.com/news/20/06/16170189/s...  Benzinga Insights
2  https://www.benzinga.com/news/20/05/16103463/7...         Lisa Levin
3  https://www.benzinga.com/news/20/05/16095921/4...         Lisa Levin
4  https://www.benzinga.com/news/20/05/16095304/b...         Vick Meyer

                       Date Ticker
0 2020-06-05 00:00:00+00:00   AAPL
1 2020-06-03 00:00:00+00:00   AAPL
2 2020-05-26 00:00:00+00:00   AAPL
3 2020-05-22 00:00:00+00:00   AAPL
4 2020-05-22 00:00:00+00:00   AAPL

In [7]:
stock_dfs, news_df = align_dates(stock_dfs, news_df, start_date='2020-01-01', end_date='2020-06-11')

print("\nSample Stock Data After Alignment (AAPL):")
display(stock_dfs['AAPL'][['Close', 'Daily_Return']].head())

print("\nSample News Data After Alignment:")
display(news_df[['Date', 'Headline', 'Ticker']].head())

Sample Stock Data After Alignment (AAPL):

                               Close  Daily_Return
Date
2020-01-02 00:00:00+00:00  75.087502      0.022816
2020-01-03 00:00:00+00:00  74.357498     -0.009722
2020-01-06 00:00:00+00:00  74.949997      0.007968
2020-01-07 00:00:00+00:00  74.597504     -0.004703
2020-01-08 00:00:00+00:00  75.797501      0.016086

Sample News Data After Alignment:

,Date,Headline,Ticker
0,2020-06-05 00:00:00+00:00,Stocks That Hit 52-Week Highs On Friday,AAPL
1,2020-06-03 00:00:00+00:00,Stocks That Hit 52-Week Highs On Wednesday,AAPL
2,2020-05-26 00:00:00+00:00,71 Biggest Movers From Friday,AAPL
3,2020-05-22 00:00:00+00:00,46 Stocks Moving In Friday's Mid-Day Session,AAPL
4,2020-05-22 00:00:00+00:00,B of A Securities Maintains Neutral on Agilent...,AAPL

In [8]:
## Perform Sentiment Analysis

#Using TextBlob,  analyze the sentiment of news headlines, assigning polarity scores from -1 (negative) to 1 (positive), with 0 being neutral.

print("\nPerforming sentiment analysis on news headlines...")
news_df = perform_sentiment_analysis(news_df)

# Display results
print("\nNews Data with Sentiment Scores:")
display(news_df[['Date', 'Ticker', 'Headline', 'Sentiment']].head())

Performing sentiment analysis on news headlines...

News Data with Sentiment Scores:

,Date,Ticker,Headline,Sentiment
0,2020-06-05 00:00:00+00:00,AAPL,Stocks That Hit 52-Week Highs On Friday,0.0
1,2020-06-03 00:00:00+00:00,AAPL,Stocks That Hit 52-Week Highs On Wednesday,0.0
2,2020-05-26 00:00:00+00:00,AAPL,71 Biggest Movers From Friday,0.0
3,2020-05-22 00:00:00+00:00,AAPL,46 Stocks Moving In Friday's Mid-Day Session,0.0
4,2020-05-22 00:00:00+00:00,AAPL,B of A Securities Maintains Neutral on Agilent...,0.0

In [9]:
## Aggregate Sentiments

#Since multiple articles may appear on the same day for a ticker, we compute the average daily sentiment score per ticker.

print("\nAggregating daily sentiment scores...")
daily_sentiment_pivot = aggregate_sentiments(news_df)

# Display results
print("\nDaily Sentiment Scores (Aggregated):")
display(daily_sentiment_pivot.head())

Aggregating daily sentiment scores...

Daily Sentiment Scores (Aggregated):

Ticker,AA,AAL,AAMC,AAME,AAN,AAOI,AAON,AAP,AAPL,AAWW,...,ZGNX,ZION,ZIOP,ZIXI,ZN,ZNGA,ZTR,ZTS,ZU,ZUMZ
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-02 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-03 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-05 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-06 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
## Aggregate Sentiments

#Since multiple articles may appear on the same day for a ticker, we compute the average daily sentiment score per ticker.

print("\nAggregating daily sentiment scores...")
daily_sentiment_pivot = aggregate_sentiments(news_df)

# Display results
print("\nDaily Sentiment Scores (Aggregated):")
display(daily_sentiment_pivot.head())

Aggregating daily sentiment scores...

Daily Sentiment Scores (Aggregated):

Ticker,AA,AAL,AAMC,AAME,AAN,AAOI,AAON,AAP,AAPL,AAWW,...,ZGNX,ZION,ZIOP,ZIXI,ZN,ZNGA,ZTR,ZTS,ZU,ZUMZ
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-02 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-03 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-05 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-06 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
## Correlation Analysis

#We calculate the Pearson correlation between daily sentiment scores and stock returns, assessing the strength and significance of the relationship.

print("\nCalculating correlation between sentiment scores and stock returns...")
correlation_df = calculate_correlation(stock_dfs, daily_sentiment_pivot)

# Display results
print("\nCorrelation Results:")
display(correlation_df)

Calculating correlation between sentiment scores and stock returns...

Correlation Results:

      Correlation   P-Value
AAPL     0.552528  0.255548
AMZN    -1.000000  1.000000
GOOG     0.371299  0.290799
META     0.909419  0.273054
MSFT     0.568036  0.141862
NVDA     0.175714  0.824286
TSLA    -0.636726  0.173982