In [1]:
import pandas as pd
import talib
import pynance as pn
import yfinance as yf
import pandas_ta as ta
from IPython.display import display
import os

In [2]:
import sys
sys.path.append('../scripts')

In [3]:
from quantitative import load_stock_data, add_technical_indicators, add_trading_signals, calculate_financial_metrics, backtest_signals, print_statistical_summary, plot_price_with_indicators

In [5]:
stocks = {
    'AAPL': '../data/yfinance_data/AAPL_historical_data.csv',
    'AMZN': '../data/yfinance_data/AMZN_historical_data.csv',
    'GOOG': '../data/yfinance_data/GOOG_historical_data.csv',
    'META': '../data/yfinance_data/META_historical_data.csv',
    'MSFT': '../data/yfinance_data/MSFT_historical_data.csv',
    'NVDA': '../data/yfinance_data/NVDA_historical_data.csv',
    'TSLA': '../data/yfinance_data/TSLA_historical_data.csv'
}
stock_dfs = {}

In [6]:
def apply_analysis_step(func, stock_dfs, func_name, columns=None, drop_na=False, **kwargs):
    print(f"\n{func_name}...")
    for ticker, df in stock_dfs.items():
        print(f"Processing {ticker}...")
        stock_dfs[ticker] = func(df, **kwargs)
        if columns:
            display_df = stock_dfs[ticker][columns]
            if drop_na:
                display_df = display_df.dropna()
            display(display_df.head())
    return stock_dfs

In [7]:
print("Loading and filtering data (post-2018 for relevance)...")
for ticker, filepath in stocks.items():
    print(f"Loading {ticker}...")
    df = load_stock_data(filepath=filepath)
    if df is not None:
        # Filter for recent data to reduce NaN and align with news
        df = df[df.index >= '2023-01-01']  # Adjusted to 2023 for recent trends
        if len(df) < 50:
            print(f"Warning: {ticker} has insufficient data ({len(df)} rows)")
            continue
        stock_dfs[ticker] = df
        display(df[['Close', 'Open', 'High', 'Low', 'Volume']].head())
    else:
        print(f"Failed to load data for {ticker}")

Loading and filtering data (post-2018 for relevance)...
Loading AAPL...

                 Close        Open        High         Low     Volume
Date
2023-01-03  125.070000  130.279999  130.899994  124.169998  112117500
2023-01-04  126.360001  126.889999  128.660004  125.080002   89113600
2023-01-05  125.019997  127.129997  127.769997  124.760002   80962700
2023-01-06  129.619995  126.010002  130.289993  124.889999   87754700
2023-01-09  130.149994  130.470001  133.410004  129.889999   70790800

Loading AMZN...

                Close       Open       High        Low    Volume
Date
2023-01-03  85.820000  85.459999  86.959999  84.209999  76706000
2023-01-04  85.139999  86.550003  86.980003  83.360001  68885100
2023-01-05  83.120003  85.330002  85.419998  83.070000  67930800
2023-01-06  86.080002  83.029999  86.400002  81.430000  83303400
2023-01-09  87.360001  87.459999  89.480003  87.080002  65266100

Loading GOOG...

                Close       Open       High        Low    Volume
Date
2023-01-03  89.699997  89.830002  91.550003  89.019997  20738500
2023-01-04  88.709999  91.010002  91.239998  87.800003  27046500
2023-01-05  86.769997  88.070000  88.209999  86.559998  23136100
2023-01-06  88.160004  87.360001  88.470001  85.570000  26612600
2023-01-09  88.800003  89.195000  90.830002  88.580002  22996700

Loading META...

                 Close        Open        High         Low    Volume
Date
2023-01-03  124.739998  122.820000  126.370003  122.279999  35528500
2023-01-04  127.370003  127.379997  129.050003  125.849998  32397100
2023-01-05  126.940002  126.129997  128.520004  124.540001  25447100
2023-01-06  130.020004  128.970001  130.330002  126.040001  27584500
2023-01-09  129.470001  131.160004  132.949997  129.279999  26649100

Loading MSFT...

                 Close        Open        High         Low    Volume
Date
2023-01-03  239.580002  243.080002  245.750000  237.399994  25740000
2023-01-04  229.100006  232.279999  232.869995  225.960007  50623400
2023-01-05  222.309998  227.199997  227.550003  221.759995  39585600
2023-01-06  224.929993  223.000000  225.759995  219.350006  43613600
2023-01-09  227.119995  226.449997  231.240005  226.410004  27369800

Loading NVDA...

             Close    Open    High     Low     Volume
Date
2023-01-03  14.315  14.851  14.996  14.096  401277000
2023-01-04  14.749  14.567  14.853  14.241  431324000
2023-01-05  14.265  14.491  14.564  14.148  389168000
2023-01-06  14.859  14.474  15.010  14.034  405044000
2023-01-09  15.628  15.284  16.056  15.141  504231000

Loading TSLA...

                 Close        Open        High         Low     Volume
Date
2023-01-03  108.099998  118.470001  118.800003  104.639999  231402800
2023-01-04  113.639999  109.110001  114.589996  107.519997  180389000
2023-01-05  110.339996  110.510002  111.750000  107.160004  157986300
2023-01-06  113.059998  103.000000  114.389999  101.809998  220911100
2023-01-09  119.769997  118.959999  123.519997  117.110001  190284000

In [8]:
stock_dfs = apply_analysis_step(
    add_technical_indicators,
    stock_dfs,
    "Adding technical indicators",
    columns=['Close', 'SMA_20', 'SMA_50', 'RSI', 'MACD', 'BB_upper'],
    drop_na=True
)

Adding technical indicators...
Processing AAPL...

                 Close      SMA_20    SMA_50        RSI      MACD    BB_upper
Date
2023-03-15  152.990005  150.305501  144.7934  58.933103  2.013153  155.895566
2023-03-16  155.850006  150.331501  145.4090  63.251906  2.261574  156.018795
2023-03-17  155.000000  150.396001  145.9818  61.192187  2.362626  156.261560
2023-03-20  157.399994  150.638500  146.6294  64.688595  2.606326  157.199963
2023-03-21  159.279999  151.178500  147.2226  67.182832  2.917530  158.654440

Processing AMZN...

                 Close   SMA_20   SMA_50        RSI      MACD    BB_upper
Date
2023-03-15   96.199997  94.5550  95.9290  53.898922 -0.633126   99.235661
2023-03-16  100.040001  94.4990  96.2134  61.225283 -0.112257   98.879397
2023-03-17   98.949997  94.5390  96.4896  58.388752  0.210158   99.064239
2023-03-20   97.709999  94.5645  96.7814  55.252669  0.361450   99.154712
2023-03-21  100.610001  94.8660  97.0720  60.584619  0.707204  100.159015

Processing GOOG...

                 Close     SMA_20     SMA_50        RSI      MACD    BB_upper
Date
2023-03-15   96.550003  92.975500  94.941201  56.155077 -0.146373   97.462037
2023-03-16  101.070000  93.174001  95.168601  63.765049  0.459957   98.621320
2023-03-17  102.459999  93.508001  95.443601  65.734657  1.040643  100.224754
2023-03-20  101.930000  93.875001  95.746801  64.299483  1.441458  101.525353
2023-03-21  105.839996  94.564500  96.100401  69.576677  2.050969  103.761910

Processing META...

,Close,SMA_20,SMA_50,RSI,MACD,BB_upper
Date,,,,,,
2023-03-15,197.750000,178.701999,162.390799,73.496689,8.151781,194.193205
2023-03-16,204.929993,180.090498,163.994599,77.058246,9.208692,199.309544
2023-03-17,195.610001,181.248998,165.359399,64.871921,9.188338,201.260700
2023-03-20,197.809998,182.495498,166.776799,66.229552,9.243179,203.354512
2023-03-21,202.160004,183.999498,168.219599,68.797406,9.527820,205.946991

Processing MSFT...

,Close,SMA_20,SMA_50,RSI,MACD,BB_upper
Date,,,,,,
2023-03-15,265.440002,254.786500,249.566400,61.144715,2.215943,266.271816
2023-03-16,276.200012,255.130500,250.298801,68.199836,3.665669,268.580492
2023-03-17,279.429993,255.994500,251.305400,69.962962,5.017382,272.910608
2023-03-20,272.230011,256.703001,252.303801,61.744869,5.444881,275.033629
2023-03-21,273.779999,257.758501,253.280801,62.759026,5.841411,277.421343

Processing NVDA...

                Close    SMA_20    SMA_50        RSI      MACD   BB_upper
Date
2023-03-15  24.228001  22.99065  20.45718  62.777335  1.001864  25.020888
2023-03-16  25.541000  23.12950  20.68170  68.349950  1.097727  25.439334
2023-03-17  25.725000  23.31565  20.90122  69.049245  1.175001  25.823597
2023-03-20  25.900000  23.54125  21.13392  69.734169  1.236114  26.125592
2023-03-21  26.198999  23.81845  21.36072  70.918326  1.293759  26.291930

Processing TSLA...

                 Close      SMA_20    SMA_50        RSI      MACD    BB_upper
Date
2023-03-15  180.449997  193.732000  170.3836  47.867344  1.630880  218.079173
2023-03-16  184.130005  192.226500  171.9042  50.366366  1.446184  214.987051
2023-03-17  180.130005  191.131001  173.2340  47.690362  0.965910  214.005579
2023-03-20  183.250000  189.878001  174.6922  49.925189  0.827508  211.565895
2023-03-21  197.580002  189.888501  176.3826  58.660935  1.852777  211.591092

In [9]:
print("\nAdding technical indicators...")
for ticker, df in stock_dfs.items():
    print(f"Processing {ticker}...")
    stock_dfs[ticker] = add_technical_indicators(df)
    display(stock_dfs[ticker][['Close', 'SMA_20', 'SMA_50', 'RSI', 'MACD', 'BB_upper']].head())

Adding technical indicators...
Processing AAPL...

               Close  SMA_20  SMA_50  RSI  MACD  BB_upper
Date
1980-12-12  0.128348     NaN     NaN  NaN   NaN       NaN
1980-12-15  0.121652     NaN     NaN  NaN   NaN       NaN
1980-12-16  0.112723     NaN     NaN  NaN   NaN       NaN
1980-12-17  0.115513     NaN     NaN  NaN   NaN       NaN
1980-12-18  0.118862     NaN     NaN  NaN   NaN       NaN

Processing AMZN...

               Close  SMA_20  SMA_50  RSI  MACD  BB_upper
Date
1997-05-15  0.097917     NaN     NaN  NaN   NaN       NaN
1997-05-16  0.086458     NaN     NaN  NaN   NaN       NaN
1997-05-19  0.085417     NaN     NaN  NaN   NaN       NaN
1997-05-20  0.081771     NaN     NaN  NaN   NaN       NaN
1997-05-21  0.071354     NaN     NaN  NaN   NaN       NaN

Processing GOOG...

               Close  SMA_20  SMA_50  RSI  MACD  BB_upper
Date
2004-08-19  2.499133     NaN     NaN  NaN   NaN       NaN
2004-08-20  2.697639     NaN     NaN  NaN   NaN       NaN
2004-08-23  2.724787     NaN     NaN  NaN   NaN       NaN
2004-08-24  2.611960     NaN     NaN  NaN   NaN       NaN
2004-08-25  2.640104     NaN     NaN  NaN   NaN       NaN

Processing META...

                Close  SMA_20  SMA_50  RSI  MACD  BB_upper
Date
2012-12-12  27.580000     NaN     NaN  NaN   NaN       NaN
2012-12-13  28.240000     NaN     NaN  NaN   NaN       NaN
2012-12-14  26.809999     NaN     NaN  NaN   NaN       NaN
2012-12-17  26.750000     NaN     NaN  NaN   NaN       NaN
2012-12-18  27.709999     NaN     NaN  NaN   NaN       NaN

Processing MSFT...

               Close  SMA_20  SMA_50  RSI  MACD  BB_upper
Date
1986-03-13  0.097222     NaN     NaN  NaN   NaN       NaN
1986-03-14  0.100694     NaN     NaN  NaN   NaN       NaN
1986-03-17  0.102431     NaN     NaN  NaN   NaN       NaN
1986-03-18  0.099826     NaN     NaN  NaN   NaN       NaN
1986-03-19  0.098090     NaN     NaN  NaN   NaN       NaN

Processing NVDA...

               Close  SMA_20  SMA_50  RSI  MACD  BB_upper
Date
1999-01-22  0.041016     NaN     NaN  NaN   NaN       NaN
1999-01-25  0.045313     NaN     NaN  NaN   NaN       NaN
1999-01-26  0.041797     NaN     NaN  NaN   NaN       NaN
1999-01-27  0.041667     NaN     NaN  NaN   NaN       NaN
1999-01-28  0.041536     NaN     NaN  NaN   NaN       NaN

Processing TSLA...

               Close  SMA_20  SMA_50  RSI  MACD  BB_upper
Date
2010-06-29  1.592667     NaN     NaN  NaN   NaN       NaN
2010-06-30  1.588667     NaN     NaN  NaN   NaN       NaN
2010-07-01  1.464000     NaN     NaN  NaN   NaN       NaN
2010-07-02  1.280000     NaN     NaN  NaN   NaN       NaN
2010-07-06  1.074000     NaN     NaN  NaN   NaN       NaN

In [9]:
stock_dfs = apply_analysis_step(
    add_trading_signals,
    stock_dfs,
    "Adding trading signals",
    columns=['Close', 'Signal']
)

Adding trading signals...
Processing AAPL...

                 Close  Signal
Date
2023-01-03  125.070000       0
2023-01-04  126.360001       0
2023-01-05  125.019997       0
2023-01-06  129.619995       0
2023-01-09  130.149994       0

Processing AMZN...

                Close  Signal
Date
2023-01-03  85.820000       0
2023-01-04  85.139999       0
2023-01-05  83.120003       0
2023-01-06  86.080002       0
2023-01-09  87.360001       0

Processing GOOG...

                Close  Signal
Date
2023-01-03  89.699997       0
2023-01-04  88.709999       0
2023-01-05  86.769997       0
2023-01-06  88.160004       0
2023-01-09  88.800003       0

Processing META...

                 Close  Signal
Date
2023-01-03  124.739998       0
2023-01-04  127.370003       0
2023-01-05  126.940002       0
2023-01-06  130.020004       0
2023-01-09  129.470001       0

Processing MSFT...

                 Close  Signal
Date
2023-01-03  239.580002       0
2023-01-04  229.100006       0
2023-01-05  222.309998       0
2023-01-06  224.929993       0
2023-01-09  227.119995       0

Processing NVDA...

             Close  Signal
Date
2023-01-03  14.315       0
2023-01-04  14.749       0
2023-01-05  14.265       0
2023-01-06  14.859       0
2023-01-09  15.628       0

Processing TSLA...

                 Close  Signal
Date
2023-01-03  108.099998       0
2023-01-04  113.639999       0
2023-01-05  110.339996       0
2023-01-06  113.059998       0
2023-01-09  119.769997       0

In [10]:
stock_dfs = apply_analysis_step(
    calculate_financial_metrics,
    stock_dfs,
    "Calculating financial metrics",
    columns=['Close', 'Daily_Return', 'Volatility', 'Sharpe_Ratio']
)

Calculating financial metrics...
Processing AAPL...

                 Close  Daily_Return  Volatility  Sharpe_Ratio
Date
2023-01-03  125.070000           NaN         NaN           NaN
2023-01-04  126.360001      0.010314         NaN           NaN
2023-01-05  125.019997     -0.010605         NaN           NaN
2023-01-06  129.619995      0.036794         NaN           NaN
2023-01-09  130.149994      0.004089         NaN           NaN

Processing AMZN...

                Close  Daily_Return  Volatility  Sharpe_Ratio
Date
2023-01-03  85.820000           NaN         NaN           NaN
2023-01-04  85.139999     -0.007924         NaN           NaN
2023-01-05  83.120003     -0.023726         NaN           NaN
2023-01-06  86.080002      0.035611         NaN           NaN
2023-01-09  87.360001      0.014870         NaN           NaN

Processing GOOG...

                Close  Daily_Return  Volatility  Sharpe_Ratio
Date
2023-01-03  89.699997           NaN         NaN           NaN
2023-01-04  88.709999     -0.011037         NaN           NaN
2023-01-05  86.769997     -0.021869         NaN           NaN
2023-01-06  88.160004      0.016019         NaN           NaN
2023-01-09  88.800003      0.007260         NaN           NaN

Processing META...

                 Close  Daily_Return  Volatility  Sharpe_Ratio
Date
2023-01-03  124.739998           NaN         NaN           NaN
2023-01-04  127.370003      0.021084         NaN           NaN
2023-01-05  126.940002     -0.003376         NaN           NaN
2023-01-06  130.020004      0.024263         NaN           NaN
2023-01-09  129.470001     -0.004230         NaN           NaN

Processing MSFT...

                 Close  Daily_Return  Volatility  Sharpe_Ratio
Date
2023-01-03  239.580002           NaN         NaN           NaN
2023-01-04  229.100006     -0.043743         NaN           NaN
2023-01-05  222.309998     -0.029638         NaN           NaN
2023-01-06  224.929993      0.011785         NaN           NaN
2023-01-09  227.119995      0.009736         NaN           NaN

Processing NVDA...

             Close  Daily_Return  Volatility  Sharpe_Ratio
Date
2023-01-03  14.315           NaN         NaN           NaN
2023-01-04  14.749      0.030318         NaN           NaN
2023-01-05  14.265     -0.032816         NaN           NaN
2023-01-06  14.859      0.041640         NaN           NaN
2023-01-09  15.628      0.051753         NaN           NaN

Processing TSLA...

                 Close  Daily_Return  Volatility  Sharpe_Ratio
Date
2023-01-03  108.099998           NaN         NaN           NaN
2023-01-04  113.639999      0.051249         NaN           NaN
2023-01-05  110.339996     -0.029039         NaN           NaN
2023-01-06  113.059998      0.024651         NaN           NaN
2023-01-09  119.769997      0.059349         NaN           NaN

In [11]:
print("\nStatistical summaries...")
for ticker, df in stock_dfs.items():
    print_statistical_summary(df, ticker)
    # Additional insight: Signal success rate
    if 'Signal' in df.columns:
        trades = df['Signal'].diff().abs().where(df['Signal'].diff().abs() > 0).dropna()
        profitable_trades = df.loc[trades.index, 'Daily_Return'].where(df['Signal'].shift(1) == 1).dropna()
        success_rate = (profitable_trades > 0).mean() if len(profitable_trades) > 0 else 0
        print(f"Signal Success Rate (Buy signals leading to positive returns): {success_rate:.2%}")

Statistical summaries...

Statistical Summary for AAPL
--------------------------------------------------
Price Statistics:

            Close  Daily_Return  Volatility  Sharpe_Ratio
count  395.000000    394.000000  374.000000    374.000000
mean   178.978684      0.001514    0.210240      1.664855
std     19.703762      0.013712    0.052023      3.715074
min    125.019997     -0.048020    0.120892     -9.175073
25%    169.340004     -0.006881    0.165655     -0.714766
50%    179.070007      0.001606    0.210948      1.959834
75%    189.974998      0.008725    0.245069      4.597809
max    234.820007      0.072649    0.340061     10.720557

Indicator Statistics:

           SMA_20      SMA_50         RSI        MACD    BB_upper    BB_lower
count  376.000000  346.000000  381.000000  362.000000  376.000000  376.000000
mean   179.042738  178.907181   56.577489    1.504155  188.012431  170.073045
std     16.623318   12.297647   13.818548    3.043059   18.262950   15.755033
min    135.778999  144.793400   22.018390   -4.418886  148.714720  122.843278
25%    171.471625  174.145400   44.589881   -1.364250  176.758158  163.951263
50%    179.644751  180.093501   59.388374    2.396415  189.992435  169.322098
75%    188.712624  186.756350   67.038532    3.497257  196.845777  180.253413
max    225.117001  210.858600   90.119479    8.948060  239.820553  214.234202

Correlation Matrix:

                 Close    SMA_20    SMA_50       RSI      MACD  Daily_Return
Close         1.000000  0.931484  0.706155  0.154335  0.500684      0.001926
SMA_20        0.931484  1.000000  0.887043 -0.113286  0.242525     -0.082945
SMA_50        0.706155  0.887043  1.000000 -0.316795 -0.104316     -0.122441
RSI           0.154335 -0.113286 -0.316795  1.000000  0.841792      0.337329
MACD          0.500684  0.242525 -0.104316  0.841792  1.000000      0.066975
Daily_Return  0.001926 -0.082945 -0.122441  0.337329  0.066975      1.000000

Trading Strategy Performance:
Cumulative Return: 13.55%
Number of Trades: 39
Signal Success Rate (Buy signals leading to positive returns): 89.47%

Statistical Summary for AMZN
--------------------------------------------------
Price Statistics:

            Close  Daily_Return  Volatility  Sharpe_Ratio
count  395.000000    394.000000  374.000000    374.000000
mean   142.023494      0.002086    0.291691      1.744947
std     31.917819      0.019060    0.084667      2.441611
min     83.120003     -0.084315    0.130777     -5.752880
25%    117.450001     -0.009429    0.230360      0.320948
50%    138.119995      0.000789    0.285150      1.785703
75%    174.860001      0.013769    0.347433      3.234015
max    200.000000      0.082693    0.536878      8.836959

Indicator Statistics:

           SMA_20      SMA_50         RSI        MACD    BB_upper    BB_lower
count  376.000000  346.000000  381.000000  362.000000  376.000000  376.000000
mean   142.203568  142.028708   56.928052    1.804897  149.928652  134.478484
std     30.606120   28.478018    8.968590    1.805574   31.330279   30.158764
min     94.223500   95.929000   34.445308   -2.819129   98.879397   82.624146
25%    121.509876  123.597650   51.308664    0.780318  129.993563  113.026189
50%    136.078000  134.922901   58.360364    1.982112  146.391079  128.394936
75%    174.107750  169.281999   63.450309    3.063576  179.637357  167.841708
max    193.598500  187.879400   81.196290    5.500816  206.074765  183.018610

Correlation Matrix:

                 Close    SMA_20    SMA_50       RSI      MACD  Daily_Return
Close         1.000000  0.986546  0.973851  0.038076  0.199638     -0.008791
SMA_20        0.986546  1.000000  0.991812 -0.082122  0.082910     -0.042471
SMA_50        0.973851  0.991812  1.000000 -0.216255 -0.087094     -0.072152
RSI           0.038076 -0.082122 -0.216255  1.000000  0.789743      0.373666
MACD          0.199638  0.082910 -0.087094  0.789743  1.000000      0.004008
Daily_Return -0.008791 -0.042471 -0.072152  0.373666  0.004008      1.000000

Trading Strategy Performance:
Cumulative Return: 46.79%
Number of Trades: 22
Signal Success Rate (Buy signals leading to positive returns): 90.00%

Statistical Summary for GOOG
--------------------------------------------------
Price Statistics:

            Close  Daily_Return  Volatility  Sharpe_Ratio
count  395.000000    394.000000  374.000000    374.000000
mean   134.833937      0.001826    0.284495      1.930465
std     25.941800      0.018683    0.087296      2.757830
min     86.769997     -0.095989    0.148548     -4.899203
25%    120.049999     -0.008772    0.226348     -0.023242
50%    134.199997      0.003004    0.270957      1.967080
75%    148.579994      0.011280    0.319845      3.765995
max    192.660004      0.099652    0.557415      8.938419

Indicator Statistics:

           SMA_20      SMA_50         RSI        MACD    BB_upper    BB_lower
count  376.000000  346.000000  381.000000  362.000000  376.000000  376.000000
mean   134.827431  134.394168   57.022395    1.674381  142.558050  127.096812
std     24.333083   21.431590    9.707875    1.808715   24.689663   24.336620
min     92.895500   94.941201   31.025849   -2.869313   97.176589   84.330324
25%    121.506125  121.773850   50.316669    0.369529  127.207387  115.273887
50%    135.383001  134.787600   57.823823    1.785042  141.474420  128.645604
75%    146.520250  144.574299   63.908936    2.821418  155.410438  137.907801
max    186.060501  180.394800   79.893180    5.218553  197.653133  178.942164

Correlation Matrix:

                 Close    SMA_20    SMA_50       RSI      MACD  Daily_Return
Close         1.000000  0.977286  0.958365  0.208876  0.375095      0.016155
SMA_20        0.977286  1.000000  0.987642  0.033345  0.229049     -0.049851
SMA_50        0.958365  0.987642  1.000000 -0.106689  0.047289     -0.072209
RSI           0.208876  0.033345 -0.106689  1.000000  0.774841      0.361948
MACD          0.375095  0.229049  0.047289  0.774841  1.000000     -0.010609
Daily_Return  0.016155 -0.049851 -0.072209  0.361948 -0.010609      1.000000

Trading Strategy Performance:
Cumulative Return: 23.53%
Number of Trades: 27
Signal Success Rate (Buy signals leading to positive returns): 83.33%

Statistical Summary for META
--------------------------------------------------
Price Statistics:

            Close  Daily_Return  Volatility  Sharpe_Ratio
count  395.000000    394.000000  374.000000    374.000000
mean   338.091418      0.003648    0.370409      2.547184
std    115.944501      0.025655    0.179212      2.696755
min    124.739998     -0.105613    0.192221     -4.768465
25%    250.950005     -0.009180    0.244684      0.819430
50%    314.600006      0.001648    0.304363      2.851738
75%    468.069992      0.013954    0.423194      4.448938
max    539.909973      0.232824    0.891205      9.643194

Indicator Statistics:

           SMA_20      SMA_50         RSI        MACD    BB_upper    BB_lower
count  376.000000  346.000000  381.000000  362.000000  376.000000  376.000000
mean   339.727222  340.381302   60.839456    6.664669  364.774759  314.679686
std    111.060875  102.460822   11.445651    7.644960  116.946919  106.700026
min    137.249501  162.390799   29.097662  -15.861143  152.556069  111.150187
25%    262.365250  272.588850   52.153604    1.863817  283.625551  241.104949
50%    311.811750  311.878098   62.440564    7.589059  330.881749  292.307112
75%    467.759378  459.603599   68.677298    9.634642  503.230747  424.562291
max    511.843500  495.419200   88.806562   29.278573  552.043472  490.521936

Correlation Matrix:

                 Close    SMA_20    SMA_50       RSI      MACD  Daily_Return
Close         1.000000  0.986782  0.960853 -0.294789  0.066723     -0.058577
SMA_20        0.986782  1.000000  0.987159 -0.401562 -0.057889     -0.100955
SMA_50        0.960853  0.987159  1.000000 -0.434667 -0.177865     -0.083537
RSI          -0.294789 -0.401562 -0.434667  1.000000  0.729473      0.348479
MACD          0.066723 -0.057889 -0.177865  0.729473  1.000000      0.054702
Daily_Return -0.058577 -0.100955 -0.083537  0.348479  0.054702      1.000000

Trading Strategy Performance:
Cumulative Return: 39.80%
Number of Trades: 42
Signal Success Rate (Buy signals leading to positive returns): 95.00%

Statistical Summary for MSFT
--------------------------------------------------
Price Statistics:

            Close  Daily_Return  Volatility  Sharpe_Ratio
count  395.000000    394.000000  374.000000    374.000000
mean   352.321798      0.001550    0.223061      2.025877
std     61.351330      0.014672    0.054332      2.996608
min    222.309998     -0.043743    0.123757     -5.915508
25%    314.630005     -0.007066    0.182358     -0.258887
50%    341.269989      0.001473    0.218224      2.178554
75%    408.824997      0.010356    0.254438      4.097623
max    467.559998      0.072435    0.357569     10.029655

Indicator Statistics:

           SMA_20      SMA_50         RSI        MACD    BB_upper    BB_lower
count  376.000000  346.000000  381.000000  362.000000  376.000000  376.000000
mean   353.166982  353.530137   57.180212    3.841124  369.091582  337.242381
std     57.756391   51.746985   10.021746    4.110963   57.855396   58.221016
min    237.281000  249.566400   31.696381   -5.626637  252.214580  220.169553
25%    322.346003  325.033503   50.526398    1.521463  335.074839  306.735275
50%    340.288248  336.769101   57.334028    4.070229  357.707865  325.277323
75%    408.445251  409.203299   65.096918    7.315981  420.329025  392.928952
max    454.443501  439.183400   78.748436   11.527260  476.456626  441.077183

Correlation Matrix:

                 Close    SMA_20    SMA_50       RSI      MACD  Daily_Return
Close         1.000000  0.982214  0.958313  0.102923  0.077776     -0.010972
SMA_20        0.982214  1.000000  0.986331 -0.082738 -0.060118     -0.091376
SMA_50        0.958313  0.986331  1.000000 -0.202686 -0.209014     -0.090643
RSI           0.102923 -0.082738 -0.202686  1.000000  0.806154      0.361590
MACD          0.077776 -0.060118 -0.209014  0.806154  1.000000      0.035737
Daily_Return -0.010972 -0.091376 -0.090643  0.361590  0.035737      1.000000

Trading Strategy Performance:
Cumulative Return: 37.04%
Number of Trades: 34
Signal Success Rate (Buy signals leading to positive returns): 94.12%

Statistical Summary for NVDA
--------------------------------------------------
Price Statistics:

            Close  Daily_Return  Volatility  Sharpe_Ratio
count  395.000000    394.000000  374.000000    374.000000
mean    56.957471      0.005524    0.467838      2.922208
std     31.539832      0.031671    0.168901      3.333315
min     14.265000     -0.100046    0.236882     -5.534653
25%     34.576499     -0.013170    0.331145      0.683278
50%     46.241001      0.004294    0.424900      2.800922
75%     82.527500      0.022865    0.565823      5.069513
max    135.580002      0.243696    0.945501     13.391876

Indicator Statistics:

           SMA_20      SMA_50         RSI        MACD    BB_upper    BB_lower
count  376.000000  346.000000  381.000000  362.000000  376.000000  376.000000
mean    56.441107   55.056430   61.654731    1.991149   62.496710   50.385504
std     29.858308   25.939297   11.837573    2.290119   33.363962   26.682528
min     17.273300   20.457180   31.393809   -2.954132   21.125089   13.421511
25%     37.246362   38.716725   54.387933    0.573049   44.181442   29.382171
50%     45.494800   45.244150   61.449326    1.347093   50.066663   41.519767
75%     81.840438   75.382545   71.195572    3.055537   92.394111   67.426619
max    127.787001  119.379500   85.259100    9.774133  139.306854  119.530639

Correlation Matrix:

                 Close    SMA_20    SMA_50       RSI      MACD  Daily_Return
Close         1.000000  0.986769  0.967695  0.008662  0.623942     -0.030487
SMA_20        0.986769  1.000000  0.989503 -0.098967  0.518423     -0.069095
SMA_50        0.967695  0.989503  1.000000 -0.118221  0.422750     -0.066828
RSI           0.008662 -0.098967 -0.118221  1.000000  0.635786      0.358139
MACD          0.623942  0.518423  0.422750  0.635786  1.000000      0.061016
Daily_Return -0.030487 -0.069095 -0.066828  0.358139  0.061016      1.000000

Trading Strategy Performance:
Cumulative Return: -3.69%
Number of Trades: 36
Signal Success Rate (Buy signals leading to positive returns): 94.12%

Statistical Summary for TSLA
--------------------------------------------------
Price Statistics:

            Close  Daily_Return  Volatility  Sharpe_Ratio
count  395.000000    394.000000  374.000000    374.000000
mean   208.503139      0.002423    0.512298      0.924947
std     39.085080      0.034426    0.124147      4.509722
min    108.099998     -0.123346    0.266162     -8.961273
25%    177.919998     -0.017812    0.434845     -2.220811
50%    201.160004      0.001859    0.501233      0.445316
75%    244.269997      0.019817    0.563771      3.008972
max    293.339996      0.153069    0.862368     16.785711

Indicator Statistics:

           SMA_20      SMA_50         RSI        MACD    BB_upper    BB_lower
count  376.000000  346.000000  381.000000  362.000000  376.000000  376.000000
mean   209.946718  211.389848   52.318151    1.372737  235.097462  184.795973
std     34.405740   30.426570   14.773692    8.549425   38.225811   35.266217
min    134.195999  170.383600   17.427926  -14.073484  174.868540   93.015838
25%    178.443125  181.992400   43.412639   -4.737581  201.435014  159.603776
50%    199.641751  205.416000   51.377923    1.008256  228.965956  175.465976
75%    241.973749  237.833400   59.940815    4.713828  271.777797  215.712767
max    273.505500  259.138400   89.912813   23.206692  298.187291  252.984557

Correlation Matrix:

                 Close    SMA_20    SMA_50       RSI      MACD  Daily_Return
Close         1.000000  0.843319  0.646814  0.347381  0.515807      0.018747
SMA_20        0.843319  1.000000  0.857633 -0.119783  0.177073     -0.130765
SMA_50        0.646814  0.857633  1.000000 -0.272287 -0.209095     -0.107961
RSI           0.347381 -0.119783 -0.272287  1.000000  0.826040      0.369976
MACD          0.515807  0.177073 -0.209095  0.826040  1.000000      0.032416
Daily_Return  0.018747 -0.130765 -0.107961  0.369976  0.032416      1.000000

Trading Strategy Performance:
Cumulative Return: -56.23%
Number of Trades: 28
Signal Success Rate (Buy signals leading to positive returns): 92.31%

In [13]:
print("\nVisualizing indicators...")
plot_count = 0
max_plots = 10  # Per challenge requirement
for ticker, df in stock_dfs.items():
    if plot_count >= max_plots:
        print("Reached maximum plot limit (10). Skipping remaining plots.")
        break
    print(f"Plotting {ticker}...")
    #plot_price_with_indicators(df, ticker, save_path=f'{output_dir}/{ticker}_plots.png')
    plot_count += 1

Visualizing indicators...
Plotting AAPL...
Plotting AMZN...
Plotting GOOG...
Plotting META...
Plotting MSFT...
Plotting NVDA...
Plotting TSLA...

In [ ]:
print("\nComparative Analysis Across Stocks")
metrics = []
for ticker, df in stock_dfs.items():
    cum_return, num_trades = backtest_signals(df)
    metrics.append({
        'Ticker': ticker,
        'Mean Daily Return (%)': df['Daily_Return'].mean() * 252 * 100,
        'Volatility (%)': df['Volatility'].mean() * 100,
        'Sharpe Ratio': df['Sharpe_Ratio'].mean(),
        'Cumulative Strategy Return (%)': cum_return * 100,
        'Number of Trades': int(num_trades)
    })
comparison_df = pd.DataFrame(metrics)
display(comparison_df)